nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2rem;
  /* background-color: rgba(13, 58, 87, 0.389); */
}

nav.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav.navbar a {
  color:rgb(216, 232, 122);
  text-decoration: none;
  transition: color 0.3s;
}

nav.navbar a:hover {
  color: #ffcc00;
}

.logo{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  word-spacing: 5px;
  letter-spacing: 3px;
  color:rgb(211, 233, 91);
}
